#section1_about {
    display: flex;
    margin-bottom: 200px;
}

.col1 {
    text-align: justify;
    width: 50vw;
    padding: 0px 10px;

    h1 {
        text-align: center;
    }
}

.col2 {
    text-align: justify;
    width: 50vw;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 10px;

    h1 {
        text-align: center;
    }
}