.basket {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 15px;
    background-color: white;
    height: 250px;
    width: 75vw;
    margin-bottom: 200px;
    margin-left: 2vw;
}