#contact_box {
    position: relative;
    background-color: #04cfe2;
    height: 255px;
    width: 75vw;
    transform: translate(7vw, 25px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 140px;
    z-index: 1;
}

#mail-adress {
    text-decoration: underline;
}

#mail-adress:hover {
    cursor: pointer;
    color: rgb(168, 155, 155);
}